* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

.city {
    background-image: url(https://media.istockphoto.com/id/1280385511/photo/colorful-background.jpg?b=1&s=170667a&w=0&k=20&c=MuV8KwtwQ7Zc7wN5SoGyS0IcBKGCp8GvtQi-MwNdjzM=);
}

.lights {
    background-image: url(https://media.istockphoto.com/id/1396679008/photo/priral-particles-moving-tunnel-spiral-abstract-background-red.jpg?b=1&s=170667a&w=0&k=20&c=nyvtNRrR2-sL0BRQ6CI6jMHrcA3xfxN8v92Rgc6Ma5I=);
}

.urban {
    background-image: url(https://media.istockphoto.com/id/952039286/photo/abstract-background-wallpaper.jpg?b=1&s=170667a&w=0&k=20&c=O42TVdq7QcprHBQS6lrIw_AkF04c3AkyCmtM1ZGJitA=);
}

.full {
    height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    position: relative;
}

.full h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-transform: uppercase;

    color: white;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;

    padding: 2rem 5rem;
    letter-spacing: .5rem;
}

.filter {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #0c163f70;
}

.section {
    width: 100%;
    min-height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section h3 {
    font-size: 3rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    margin-top: 5rem;
}

.section p {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 5rem 5rem;
    text-align: center;
}

.white {
    background-color: #262569;
    color: #d6d6da;
}

.black {
    background-color: #262569;
    color: #d6d6da;
}